<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>About FitSquad Hub</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<main class="about-container">
		<h1 class="text-gradient" th:text="${pageTitle}">
		   	FitSquad Hub
		</h1>
    <p>FitSquad Hub is a community fitness challenge platform designed to help squad members track workouts, earn XP, and stay accountable across monthly quests.</p>
	<p>Each challenge has a fixed duration, xp, rewards, and adaptable difficulty level.</p>
	<p>We aim to give fitness a more enjoyable experience by transforming workouts intp challenges.</p>
	</main>
</body>

</html>